/* Define a fonte padrão */
body {
    font-family: Arial, sans-serif;
}

/* Estilo do container principal */
.container {
    margin-top: 50px;
}

/* Estilo para o título */
h1 {
    margin-bottom: 20px;
}

/* Estilo para a lista de carros */
#lista-carros {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Estilo para cada item da lista de carros */
.item-carro {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

/* Remove a borda inferior do último item */
.item-carro:last-child {
    border-bottom: none;
}

/* Estilo para a imagem do carro */
.img-carro {
    width: 218px;
    height: 148px;
    object-fit: cover;
    margin-left: -50px;
    border-radius: 15%;
    border:solid;
    border-color: rgb(243, 238, 238);
}
